@using SweetNSavory.Models;
@using System.Linq;
@{
  Layout = "_Layout";
}
@model TreatViewModel;

@if(Model != null)
{
      <h1>@($"{Model.Treat.TreatName}")</h1>
      <h4><i>Associated Flavors:</i></h4>
      <ul>
        @if(Model.Flavors.Any())
        {
            @foreach(Flavor f in Model.Flavors)
            {
                <li>@(Html.Raw($"<a href='/flavor/{f.FlavorId}'>{f.FlavorName}</a>"))</li>
            }
        }
        else
        {
            <li>None</li>
        }   
      </ul>
      <a href=@($"/treat/edit/{Model.Treat.TreatId}") class="btn btn-info">Edit Treat</a> 
}
else
{
    <p>@($"I'm sorry, there is no Treats with this id. Please return to the home page.")</p>
    <a href="/" class="btn btn-info">Home</a> 
}