@using SweetNSavory.Models;
@using System.Linq;
@{
  Layout = "_Layout";
}
@model List<TreatViewModel>;

<h1>Treats</h1>
<a href="/treat/new" class="btn btn-info">Add Treat</a> 
@if(Model.Any())
{
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Treat</th>
      <th scope="col">Flavors</th>
    </tr>
  </thead>
  <tbody>
  @foreach(TreatViewModel t in Model)
  {
    <tr class="clickable" onclick="window.location='@($"/treat/{t.Treat.TreatId}")'">
      <th scope="row">@($"{t.Treat.TreatId}")</th>
      <td>@($"{t.Treat.TreatName}")</td>
      <td>
        @if(t.Flavors.Any())
          {
            @foreach(Flavor f in t.Flavors)
            {
                <p>@($"{f.FlavorName}")</p>
            }
        }
        else
        {
            <p>None</p>
        }   
      </td>
    </tr>
  }
  </table>
}
else
{
    <p>I'm sorry, there are currently no Treats. Please add a Treat to continue.</p>
    <a href="/treat/new" class="btn btn-info">Add Treat</a> 
}