@using SweetNSavory.Models;
@using System.Linq;
@{
  Layout = "_Layout";
}
@model FlavorViewModel;

@if(Model != null)
{
      <h1>@($"{Model.Flavor.FlavorName}")</h1>
      <h4><i>Associated Treats:</i></h4>
      <ul>
        @if(Model.Treats.Any())
        {
            @foreach(Treat t in Model.Treats)
            {
                <li>@(Html.Raw($"<a href='/treat/{t.TreatId}'>{t.TreatName}</a>"))</li>
            }
        } 
      </ul>
      <a href=@($"/flavor/edit/{Model.Flavor.FlavorId}") class="btn btn-info">Edit Flavor</a> 
}
else
{
    <p>@($"I'm sorry, there is no Flavors with this id. Please return to the home page.")</p>
    <a href="/" class="btn btn-info">Home</a> 
}