@using SweetNSavory.Models;
@using System.Linq;
@{
  Layout = "_Layout";
}
@model List<FlavorViewModel>;

<h1>Flavors</h1>

@if(Model.Any())
{
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Flavor</th>
      <th scope="col">Associate Treats</th>
    </tr>
  </thead>
  <tbody>
  @foreach(FlavorViewModel f in Model)
  {
    <tr class="clickable" onclick="window.location='@($"/treat/{f.Flavor.FlavorId}")'">
      <th scope="row">@($"{f.Flavor.FlavorId}")</th>
      <td>@($"{f.Flavor.FlavorName}")</td>
      <td>
        @if(f.Treats.Any())
        {
            @foreach(Treat t in f.Treats)
            {
                <p>@($"{t.TreatName}")</p><a href="/treat/deleteTreat/" name="id" value=@($"{t.TreatId}")></a>
            }
        }
        else
        {
            <p>None</p>
        }   
      </td>
    </tr>
  }
  </table>
}
else
{
    <p>I'm sorry, there are currently no Flavors. Please add a Flavor to continue.</p>
    <a href="/treat/new" class="btn btn-info">Add Flavor</a> 
}